*.egg
*.egg-info
*.idea/
*.mo
*.pyc
*.pyo
*.swp
*eggs/
.*.cfg
.project
.pydevproject
.settings
.tmp*
/.Python
/dist/
/include/
/lib/
/local/
/old-eggs/
/parts/
/src/*.egg-info
/var/
bin/
buildout.cfg
develop-eggs/
devsrc
